<template>
  <h1 class="agregar-h1">Mascota</h1>
  <section class="agregar contenedor--desktop">
    <div class="agregar__tipos">
      <div class="agregar__tipos__contenedor">
        <img
          class="agregar__tipos__contenedor__img"
          src="../assets/tipoPerro.svg"
          alt="Icono tipo perro"
        />
      </div>
      <div class="agregar__tipos__contenedor">
        <img
          class="agregar__tipos__contenedor__img"
          src="../assets/tipoGato.svg"
          alt="Icono tipo gato"
        />
      </div>
    </div>
    <!-- Inicio form -->
    <div class="agregar__form">
      <div class="agregar__form__group">
        <label class="agregar__form__group__label" for="">Nombre</label>
        <input class="agregar__form__group__input" type="text" />
      </div>
      <div class="agregar__form__group">
        <label class="agregar__form__group__label" for="genero">Tamaño</label>
        <select class="agregar__form__group__input" name="genero" id="genero">
          <option disabled selected value="">Selecciona una opción</option>
          <option value="Hombre">Chico</option>
          <option value="Mujer">Mediano</option>
          <option value="Otro">Grande</option>
        </select>
      </div>
      <div class="agregar__form__group">
        <label class="agregar__form__group__label" for="genero">Sexo</label>
        <select class="agregar__form__group__input" name="genero" id="genero">
          <option disabled selected value="">Selecciona una opción</option>
          <option value="Hombre">Hembra</option>
          <option value="Mujer">Macho</option>
        </select>
      </div>
      <div class="agregar__form__group">
        <label class="agregar__form__group__label" for="genero">Raza</label>
        <select class="agregar__form__group__input" name="genero" id="genero">
          <option disabled selected value="">Selecciona una opción</option>
          <option value="Hombre">Chihuahua</option>
          <option value="Mujer">Bulldog</option>
          <option value="Otro">Otro</option>
        </select>
      </div>
      <div class="agregar__form__group">
        <div class="agregar__form__group--grid">
          <div class="agregar__form__group">
            <label class="agregar__form__group__label text-center" for=""
              >Peso (Kg)</label
            >
            <input
              class="agregar__form__group__input"
              type="number"
              min="1"
              max="100"
            />
          </div>
          <div class="agregar__form__group">
            <label class="agregar__form__group__label text-center" for=""
              >Edad (Años)</label
            >
            <input
              class="agregar__form__group__input"
              type="number"
              min="0"
              max="25"
            />
          </div>
          <div class="agregar__form__group">
            <label class="agregar__form__group__label text-center" for=""
              >Edad (Meses)</label
            >
            <input
              class="agregar__form__group__input"
              type="number"
              min="0"
              max="12"
            />
          </div>
        </div>
      </div>
      <div class="agregar__form__group">
        <label class="agregar__form__group__label" for="genero"
          >¿Cuándo cumples años?</label
        >
        <div class="agregar__form__group--grid">
          <div class="agregar__form__group">
            <label class="agregar__form__group__label text-center" for=""
              >Día</label
            >
            <input
              class="agregar__form__group__input"
              type="number"
              min="1"
              max="31"
            />
          </div>
          <div class="agregar__form__group">
            <label class="agregar__form__group__label text-center" for=""
              >Mes</label
            >
            <input
              class="agregar__form__group__input"
              type="number"
              min="1"
              max="12"
            />
          </div>
          <div class="agregar__form__group">
            <label class="agregar__form__group__label text-center" for=""
              >Año</label
            >
            <input
              class="agregar__form__group__input"
              type="number"
              min="1930"
              max="2500"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Final form -->
    <button
      class="agregar-subir boton--secondary"
      v-show="!agregarFoto"
      @click="subirFoto"
    >
      Subir Foto
    </button>
    <div class="agregar__foto" v-show="agregarFoto">
      <img
        class="agregar__foto__img"
        src="../assets/User.svg"
        alt="Imagen de usuario"
      />
      <div class="agregar__foto__botones">
        <button class="boton--secondary">Subir foto</button>
        <button class="boton--primary">Guardar</button>
        <button class="boton--cancel" @click="subirFoto">Cancelar</button>
      </div>
    </div>
  </section>

  <section class="form2">
    <p class="form2__boton azul" v-show="!mostrarMas" @click="mostrar">+Agregar mas información y comentarios</p>
    <p class="form2__boton--cerrar azul" v-show="mostrarMas" @click="mostrar">-Ocultar</p>
    <div class="form2__form2 contenedor--desktop" v-show="mostrarMas">
      <div class="form2__form2__group">
        <label class="form2__form2__group__label" for="">¿Esta esterilizado?</label>
        <button class="form2__form2__group__boton">Sí</button>
        <button class="form2__form2__group__boton">No</button>
      </div>
      <div class="form2__form2__group">
        <label class="form2__form2__group__label" for="">¿Se lleva con niños?</label>
        <button class="form2__form2__group__boton">Sí</button>
        <button class="form2__form2__group__boton">No</button>
      </div>
      <div class="form2__form2__group">
        <label class="form2__form2__group__label" for="">¿Se lleva con otros perros?</label>
        <button class="form2__form2__group__boton">Sí</button>
        <button class="form2__form2__group__boton">No</button>
      </div>
      <div class="form2__form2__group">
        <label class="form2__form2__group__label" for="">¿Se lleva con otros gatos?</label>
        <button class="form2__form2__group__boton">Sí</button>
        <button class="form2__form2__group__boton">No</button>
      </div>
      <div class="form2__form2__group">
        <label class="form2__form2__group__label" for="">¿Tiene sus vacunas?</label>
        <button class="form2__form2__group__boton">Sí</button>
        <button class="form2__form2__group__boton">No</button>
      </div>
      <div class="form2__form2__group">
        <label class="form2__form2__group__label" for="">¿Tiene placa?</label>
        <button class="form2__form2__group__boton">Sí</button>
        <button class="form2__form2__group__boton">No</button>
      </div>
      <div class="form2__form2__group">
        <label class="form2__form2__group__label" for="">¿Ladra?</label>
        <button class="form2__form2__group__boton">Sí</button>
        <button class="form2__form2__group__boton">No</button>
      </div>
      <div class="form2__form2__group">
        <label class="form2__form2__group__label" for="">¿Escarba?</label>
        <button class="form2__form2__group__boton">Sí</button>
        <button class="form2__form2__group__boton">No</button>
      </div>
      <div class="form2__form2__group">
        <label class="form2__form2__group__label" for="">¿Salta sobre las personas?</label>
        <button class="form2__form2__group__boton">Sí</button>
        <button class="form2__form2__group__boton">No</button>
      </div>
      <div class="form2__form2__group">
        <label class="form2__form2__group__label" for="">¿Tira de la correa?</label>
        <button class="form2__form2__group__boton">Sí</button>
        <button class="form2__form2__group__boton">No</button>
      </div>
      <div class="form2__form2__group">
        <label class="form2__form2__group__label" for="">¿Se sube al sofa?</label>
        <button class="form2__form2__group__boton">Sí</button>
        <button class="form2__form2__group__boton">No</button>
      </div>
      <div class="form2__form2__groupArea">
        <label class="form2__form2__group__label" for="">Describa su mascota</label>
        <textarea class="form2__form2__group__textarea"></textarea>
      </div>
      <div class="form2__form2__groupArea">
        <label class="form2__form2__group__label" for="">Instrucciones de su cuidado</label>
        <textarea class="form2__form2__group__textarea"></textarea>
      </div>
      <div class="form2__form2__groupArea">
        <label class="form2__form2__group__label" for="">Información veterinaria</label>
        <textarea class="form2__form2__group__textarea"></textarea>
      </div>
    </div>
  </section>
  <button class="agregar-guardar boton">Guardar</button>
  <p
    class="agregar-eliminar boton--negro--sm"
    @click="eliminarMascota"
    v-show="!eliminar"
  >
    eliminar mascota
  </p>
  <div class="agregar-elimina" v-show="eliminar">
    <p class="agregar-elimina__pregunta">
      ¿Seguro que quieres eliminar esta mascotas?
    </p>
    <button class="agregar-elimina__eliminar boton--cancel-solid boton--sm">
      Sí, eliminar
    </button>
    <p class="agregar-elimina__cancelar boton--negro" @click="eliminarMascota">
      No, cancelar
    </p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      mostrarMas: false,
      agregarFoto: false,
      eliminar: false,
    };
  },
  methods: {
    mostrar: function () {
      if (this.mostrarMas === true) {
        this.mostrarMas = false;
      } else if (this.mostrarMas === false) {
        this.mostrarMas = true;
      }
    },
    subirFoto: function () {
      if (this.agregarFoto === true) {
        this.agregarFoto = false;
      } else if (this.agregarFoto === false) {
        this.agregarFoto = true;
      }
    },
    eliminarMascota: function () {
      if (this.eliminar === true) {
        this.eliminar = false;
      } else if (this.eliminar === false) {
        this.eliminar = true;
      }
    },
  },
};
</script>

<style lang="scss">
.form2 {
  &__boton,
  &__boton--cerrar {
    text-decoration: underline 2px;
    cursor: pointer;
    text-align: left;
    margin-left: 25px;
  }

  &__boton--cerrar {
    text-align: left;
    margin-left: 25px;
  }

  &__form2 {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;

    &__groupArea {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__group {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      gap: 15px;

      &__label {
        grid-column: 1 / 3;
        text-align: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 600;
      }

      &__boton {
        margin: 0;
        height: 45px;
        background-color: transparent;
        color: #828282;
        border-radius: 25px;
        border: solid 1px #828282;
        font-size: 22px;
        font-weight: 300;
        cursor: pointer;

        &:active {
          transform: scale(0.9);
        }
      }

      &__textarea {
        width: 100%;
        min-height: 92px;
        font-size: 18px;
        border-radius: 25px;
        border: 1px solid #828282;
        background-color: transparent;
        padding: 0 10px;
      }
    }
  }
}

.agregar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  &-h1 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: -30px;
  }
  &-mas {
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }
  &-guardar {
    margin-bottom: 15px;
  }
  &-eliminar {
    margin-bottom: 30px;
  }
  &-elimina {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

    &__pregunta {
      grid-column: 1 / 3;
      font-weight: 600;
      font-size: 18px;
      text-align: left;
      margin-bottom: 15px;
    }

    &__cancelar {
      margin: 0;
    }
  }

  &__tipos {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);

    &__contenedor {
      border: solid 2px #828282;
      border-radius: 15px;
      width: 132px;
      height: 135px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:active {
        transform: scale(0.9);
      }

      &__img {
        max-width: 66px;
        max-height: 70px;
        margin: 0 auto;
      }
    }
  }

  &__form {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &__group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      &__label {
        text-align: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 600;
      }

      &__input {
        width: 100%;
        height: 44px;
        font-size: 18px;
        border-radius: 25px;
        border: 1px solid #828282;
        background-color: transparent;
        padding-left: 10px;
      }

      &__disclaimer {
        margin: 0;
        text-align: left;
        font-size: 13px;
      }

      &--grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: center;
      }
    }
  }

  &__foto {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;

    &__img {
      width: 150px;
      height: 150px;
    }

    &__botones {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}

@media (min-width: 970px) {
  .agregar {
    width: auto;
    margin-bottom: 0px;
    
    &__tipos {
      &__contenedor {
        width: 470px;
      }
    }

    &__form {
      width: 80%;
    }

    &-guardar {
      width: 80%;
    }
  }

  .form2 {
      &__boton,
      &__boton--cerrar {
        margin-left: 150px;
        margin-bottom: 30px;
      }
    }
}
</style>