<template>
  <section class="home">
    <img class="home__logo" src="../assets/logo.svg" alt="Logo" />
    <p class="home__desarrollado azul-claro">
      Desarrollado por
      <a class="home__desarrollado--link" href="">pedidosenlinea.mx</a>
    </p>
  </section>
</template>

<script>
export default {
  mounted() {
    setTimeout(() => {
      this.$router.push("login");
    }, 1000);
  },
};
</script>

<style lang="scss">
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__logo {
    margin-top: 35vh;
  }

  &__desarrollado {
    margin: 0;
    margin-top: 35vh;
    font-weight: 600;
    padding: 10px 0;
  }
  &__desarrollado--link {
    text-decoration: none;
    color: #000;
  }
}
</style>