<template>
  <h1 class="informacion-h1 azul-fuerte d-lg-none">Mi Cuenta</h1>
  <h1 class="informacion-h1 d-none d-lg-block">
    Bienvenido a la comunidad Perro-Gatuna de
    <span class="azul-fuerte">San José</span> <span class="azul">Mascotas</span>
  </h1>
  <section class="informacion contenedor--desktop">
    <!-- Header -->
    <div class="informacion__header">
      <img
        class="informacion__header__img"
        src="../assets/User.svg"
        alt="Imagen de usuario"
      />
      <div class="informacion__header__datos">
        <p class="informacion__header__datos__nombre">Nombre</p>
        <p class="informacion__header__datos__correo">Correo electrónico</p>
        <router-link to="/registro/cuenta" class="informacion__header__datos__editar azul">editar perfil</router-link>
      </div>
    </div>
    <!-- Fin Header -->

    <!-- QR -->
    <div class="informacion__qr">
      <img class="informacion__qr__img" src="../assets/qr.svg" alt="qr" />
      <h3 class="informacion__qr__title">Usar puntos</h3>
      <h2 class="informacion__qr__puntos azul-fuerte">Tus puntos: 0</h2>
    </div>
    <!-- Fin QR -->

    <!-- Detalles Mobile -->
    <div class="informacion__detalles d-lg-none" v-show="mostrarMas">
      <div class="informacion__detalles__group">
        <p class="informacion__detalles__group__title">Nombre</p>
        <p class="informacion__detalles__group__text">David</p>
      </div>
      <div class="informacion__detalles__group">
        <p class="informacion__detalles__group__title">Apellido</p>
        <p class="informacion__detalles__group__text">Madrid Nápoles</p>
      </div>
      <div class="informacion__detalles__group">
        <p class="informacion__detalles__group__title" for="genero">Género</p>
        <p class="informacion__detalles__group__text">Hombre</p>
      </div>
      <div class="informacion__detalles__group">
        <p class="informacion__detalles__group__title" for="genero">
          ¿Cuándo cumples años?
        </p>
        <div class="informacion__detalles__group--grid">
          <div class="informacion__detalles__group">
            <p class="informacion__detalles__group__title text-center">Día</p>
            <p class="informacion__detalles__group__text text-center">--</p>
          </div>
          <div class="informacion__detalles__group">
            <p class="informacion__detalles__group__title text-center">Mes</p>
            <p class="informacion__detalles__group__text text-center">--</p>
          </div>
          <div class="informacion__detalles__group">
            <p class="informacion__detalles__group__title text-center">Año</p>
            <p class="informacion__detalles__group__text text-center">----</p>
          </div>
        </div>
      </div>
      <div class="informacion__detalles__group">
        <p class="informacion__detalles__group__title">Tu dirección</p>
        <p class="informacion__detalles__group__text">--</p>
      </div>
      <div class="informacion__detalles__group--grid2">
        <div class="informacion__detalles__group">
          <p class="informacion__detalles__group__title text-center">
            Código Postal
          </p>
          <p class="informacion__detalles__group__text text-center">--</p>
        </div>
        <div class="informacion__detalles__group">
          <p class="informacion__detalles__group__title text-center">Colonia</p>
          <p class="informacion__detalles__group__text text-center">--</p>
        </div>
        <div class="informacion__detalles__group">
          <p class="informacion__detalles__group__title text-center">Ciudad</p>
          <p class="informacion__detalles__group__text text-center">--</p>
        </div>
        <div class="informacion__detalles__group">
          <p class="informacion__detalles__group__title text-center">Estado</p>
          <p class="informacion__detalles__group__text text-center">--</p>
        </div>
      </div>
    </div>
    <!-- Final Detalles Mobile -->

    <!-- Mapa Mobile -->
    <div class="informacion__mapa d-lg-none" v-show="mostrarMas">
      <img class="informacion__mapa__img" src="../assets/mapa.png" alt="" />
    </div>
    <!-- Final mapa Mobile -->

    <!-- Detalles -->
    <div class="informacion__detalles d-none d-lg-flex">
      <div class="informacion__detalles__group">
        <p class="informacion__detalles__group__title">Nombre</p>
        <p class="informacion__detalles__group__text">David</p>
      </div>
      <div class="informacion__detalles__group">
        <p class="informacion__detalles__group__title">Apellido</p>
        <p class="informacion__detalles__group__text">Madrid Nápoles</p>
      </div>
      <div class="informacion__detalles__group">
        <p class="informacion__detalles__group__title" for="genero">Género</p>
        <p class="informacion__detalles__group__text">Hombre</p>
      </div>
      <div class="informacion__detalles__group">
        <p class="informacion__detalles__group__title" for="genero">
          ¿Cuándo cumples años?
        </p>
        <div class="informacion__detalles__group--grid">
          <div class="informacion__detalles__group">
            <p class="informacion__detalles__group__title text-center">Día</p>
            <p class="informacion__detalles__group__text text-center">--</p>
          </div>
          <div class="informacion__detalles__group">
            <p class="informacion__detalles__group__title text-center">Mes</p>
            <p class="informacion__detalles__group__text text-center">--</p>
          </div>
          <div class="informacion__detalles__group">
            <p class="informacion__detalles__group__title text-center">Año</p>
            <p class="informacion__detalles__group__text text-center">----</p>
          </div>
        </div>
      </div>
      <div class="informacion__detalles__group">
        <p class="informacion__detalles__group__title">Tu dirección</p>
        <p class="informacion__detalles__group__text">--</p>
      </div>
      <div class="informacion__detalles__group--grid2">
        <div class="informacion__detalles__group">
          <p class="informacion__detalles__group__title text-left">
            Código Postal
          </p>
          <p class="informacion__detalles__group__text text-left">--</p>
        </div>
        <div class="informacion__detalles__group">
          <p class="informacion__detalles__group__title">Colonia</p>
          <p class="informacion__detalles__group__text">--</p>
        </div>
        <div class="informacion__detalles__group">
          <p class="informacion__detalles__group__title text-left">Ciudad</p>
          <p class="informacion__detalles__group__text text-left">--</p>
        </div>
        <div class="informacion__detalles__group">
          <p class="informacion__detalles__group__title">Estado</p>
          <p class="informacion__detalles__group__text">--</p>
        </div>
      </div>
    </div>
    <!-- Final Detalles -->

    <!-- Mapa -->
    <div class="informacion__mapa d-none d-lg-flex">
      <img class="informacion__mapa__img" src="../assets/mapa.png" alt="" />
    </div>
    <!-- Final mapa -->

    <!-- Boton ver mas -->
    <button
      class="informacion__boton boton d-lg-none"
      v-text="textoBoton"
      @click="mostrar"
    ></button>
    <!-- Boton ver mas -->
  </section>
</template>

<script>
export default {
  data() {
    return {
      mostrarMas: false,
      textoBoton: "Más detalles",
    };
  },
  methods: {
    mostrar: function () {
      if (this.mostrarMas === true) {
        this.mostrarMas = false;
        this.textoBoton = "Más detalles";
      } else if (this.mostrarMas === false) {
        this.mostrarMas = true;
        this.textoBoton = "Cerrar";
      }
    },
  },
};
</script>

<style lang="scss">
.informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-h1 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: -30px;
  }
  &__header {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;

    &__img {
      width: 150px;
      height: 150px;
      margin: 0 auto;
    }

    &__datos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      &__nombre {
        margin: 0;
        font-weight: 900;
      }
      &__correo {
        margin: 0;
      }
      &__editar {
        margin: 0;
        border-bottom: solid 1.5px #0071be;
        cursor: pointer;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }

  &__qr {
    &__img {
      max-width: 326px;
    }
    &__title,
    &__puntos {
      margin: 10px 0;
    }
  }

  &__detalles {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &__group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      &__title {
        text-align: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 600;
      }

      &__text {
        text-align: left;
        width: 100%;
        font-size: 18px;
      }

      &--grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: center;
      }
      &--grid2 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: center;
      }
    }
  }

  &__mapa {
    &__img {
      width: 100%;
    }
  }

  &__boton {
    margin: 40px 0 10px 0;
  }
}

@media (min-width: 970px) {
  .informacion {
    &-h1 {
      font-size: 32px !important;
      text-align: left;
      margin-left: 50px;
    }

    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 200px;
    row-gap: 30px;

    &__detalles {
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: flex-start;
      column-gap: 200px;
      row-gap: 10px;

      &__group--grid2 {
        grid-column: 1 / 3;
        justify-content: space-between;
      }
    }

    &__mapa {
      grid-column: 1 / 3;

      &__img {
        height: 600px;
        width: 100%;
      }
    }
  }
}
</style>