<template>
  <section class="login contenedor">
    <h2 class="login__h2">Iniciar sesión en</h2>
    <h1 class="login__h1 azul-fuerte">San José <span class="azul">Mascotas</span></h1>
    
    <label class="login__label" for="correo">Correo electrónico</label>
    <input class="login__input" type="text" name="correo" />
    <label class="login__label" for="contrasena">Contraseña</label>
    <input class="login__input" type="password" name="contrasena" />
    <button class="login__ingresar boton">Ingresar</button>

    <p class="login__olvidar azul">¿Olvidaste tu contraseña?</p>
    <router-link class="login__registrar" to="/registro">
      ¿Aún no estás resgistrado? <span class="azul">Registrarme ahora</span>
    </router-link>
    <p class="login__terminos">
      Al registrate o iniciar sesión, acepto los Términos y Condiciones y las
      Politicas de Privacidad, lo cual confirmo que soy mayor de 18 años y
      accedo a recibir notificaciones.
    </p>
  </section>
</template>

<script>
// @ is an alias to /src

export default {
  name: "login",
  components: {},
};
</script>

<style lang="scss">
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__h2 {
    font-size: 24px;
    margin: 0;
  }
  &__h1 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
  }

  &__label {
    text-align: left;
    width: 100%;
    color: #828282;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
  }
  &__input {
    width: 100%;
    height: 44px;
    font-size: 18px;
    border-radius: 25px;
    border: 1px solid #828282;
    padding-left: 10px;
  }
  &__ingresar {
    margin-top: 15px;
    width: calc(100% + 2px);
  }

  &__olvidar {
    margin-top: 25px;
    cursor: pointer;
  }
  &__registrar {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
  }
  &__terminos {
    font-style: italic;
  }
}
</style>
