<template>
  <h1 class="informacion-h1">Mascota</h1>
  <section class="mascotas contenedor--desktop">
    <Mascota
      v-for="(mascota, index) in mascotas"
      :key="index"
      :nombre="mascota.nombre"
      :tipo="mascota.tipo"
    />
    <router-link to="/mascotas/agregar" class="mascotas__agregar">
      <img
        class="mascotas__agregar__agregar"
        src="../assets/Mas.svg"
        alt="Agregar mascota"
      />
      <button class="mascotas__agregar__boton">Agregar Mascota</button>
    </router-link>
  </section>
</template>

<script>
import Mascota from "../components/Mascota.vue";

export default {
  data() {
    return {
      mascotas: {
        m01: {
          tipo: "Perro",
          nombre: "Cash",
          img: "img",
        },
        m02: {
          tipo: "Gato",
          nombre: "Sr. Bills",
          img: "img",
        },
      },
    };
  },
  components: {
    Mascota,
  },
};
</script>


<style lang="scss">
.mascotas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  &__agregar {
    
    &__agregar {
      width: 160px;
      margin-bottom: 20px;
      cursor: pointer;
      text-decoration: none;

      &:active {
        transform: scale(0.9);
      }
    }

    &__boton {
      width: 60%;
      height: 44px;
      font-size: 18px;
      font-weight: 600;
      background-color: #0071be;
      color: #ffffff;
      box-shadow: 4px 4px 8px #012e62, inset 2.4px 2.8px 2.8px #91cfff;
      border-radius: 25px;
      border: none;
      cursor: pointer;

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

@media (min-width: 970px) {
  .mascotas {
    width: auto;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}
</style>