<template>
  <section class="detalles contenedor--desktop">
    <div class="detalles__header">
      <div class="detalles__header__item">
        <p class="detalles__header__item__tipo">Perro</p>
        <img
          class="detalles__header__item__img"
          src="../assets/cash.png"
          alt="Imagen mascota"
        />
        <h3 class="detalles__header__item__nombre">Cash</h3>
        <router-link to="/mascotas/agregar" class="detalles__header__item__editar azul">editar perfil</router-link>
      </div>
      <div class="detalles__header__item--right">
        <p class="detalles__header__item--right__title">Nombre</p>
        <p class="detalles__header__item--right__info">Cash</p>
        <p class="detalles__header__item--right__title">Raza</p>
        <p class="detalles__header__item--right__info">GuaGua</p>
      </div>
    </div>

    <div class="detalles__info contenedor">
      <div class="detalles__info__left">
        <p class="detalles__info__left__title">Tamaño</p>
        <p class="detalles__info__left__info">--</p>
        <p class="detalles__info__left__title">Edad (Años)</p>
        <p class="detalles__info__left__info">--</p>
      </div>
      <div class="detalles__info__right">
        <p class="detalles__info__right__title">Sexo</p>
        <p class="detalles__info__right__info">--</p>
        <p class="detalles__info__right__title">Edad (Meses)</p>
        <p class="detalles__info__right__info">--</p>
      </div>
    </div>

    <div class="detalles__cumple">
      <p class="detalles__cumple__title">Fecha de cumpleaños</p>
      <div class="detalles__cumple__group">
        <p class="detalles__cumple__group__title text-center">Día</p>
        <p class="detalles__cumple__group__text text-center">--</p>
      </div>
      <div class="detalles__cumple__group">
        <p class="detalles__cumple__group__title text-center">Mes</p>
        <p class="detalles__cumple__group__text text-center">--</p>
      </div>
      <div class="detalles__cumple__group">
        <p class="detalles__cumple__group__title text-center">Año</p>
        <p class="detalles__cumple__group__text text-center">----</p>
      </div>
    </div>
  </section>

  <p class="informacion--boton azul-claro" v-show="!mostrarMas" @click="mostrar">+ Información</p>
  <p class="informacion--boton azul-claro" v-show="mostrarMas" @click="mostrar">- Información</p>

  <div class="informacion contenedor--desktop" v-show="mostrarMas">
    <div class="informacion__group">
      <p class="informacion__group__title">¿Esta esterilizado?</p>
      <p class="informacion__group__info">--</p>
    </div>
    <div class="informacion__group">
      <p class="informacion__group__title">¿Se lleva con niños?</p>
      <p class="informacion__group__info">--</p>
    </div>
    <div class="informacion__group">
      <p class="informacion__group__title">¿Se lleva con otros perros?</p>
      <p class="informacion__group__info">--</p>
    </div>
    <div class="informacion__group">
      <p class="informacion__group__title">¿Se lleva con otros gatos?</p>
      <p class="informacion__group__info">--</p>
    </div>
    <div class="informacion__group">
      <p class="informacion__group__title">¿Tiene sus vacunas?</p>
      <p class="informacion__group__info">--</p>
    </div>
    <div class="informacion__group">
      <p class="informacion__group__title">¿Tiene placa?</p>
      <p class="informacion__group__info">--</p>
    </div>
    <div class="informacion__group">
      <p class="informacion__group__title">¿Ladra?</p>
      <p class="informacion__group__info">--</p>
    </div>
    <div class="informacion__group">
      <p class="informacion__group__title">¿Escarba?</p>
      <p class="informacion__group__info">--</p>
    </div>
    <div class="informacion__group">
      <p class="informacion__group__title">¿Salta sobre las personas?</p>
      <p class="informacion__group__info">--</p>
    </div>
    <div class="informacion__group">
      <p class="informacion__group__title">¿Tira de la correa?</p>
      <p class="informacion__group__info">--</p>
    </div>
    <div class="informacion__group">
      <p class="informacion__group__title">¿Se sube al sofa?</p>
      <p class="informacion__group__info">--</p>
    </div>
  </div>
  <div class="informacion--simple" v-show="mostrarMas">
    <div class="informacion--simple__group">
      <p class="informacion--simple__group__title">Describa a tu mascota</p>
      <p class="informacion--simple__group__info">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet ut
        aliquid maiores iure rem tenetur quos nisi eaque enim, dolore, et ipsum
        quo repellat, optio voluptas quaerat sapiente facere nesciunt recusandae
        aspernatur! Unde suscipit amet quod iure ea ullam, maxime natus saepe
        consequatur rerum, repellat iusto dolor voluptates? Voluptate,
        obcaecati!
      </p>
    </div>
    <div class="informacion--simple__group">
      <p class="informacion--simple__group__title">
        Instrucciones de su cuidado
      </p>
      <p class="informacion--simple__group__info">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus esse
        dolorem sed, iste quasi laborum iure placeat inventore magni earum,
        repudiandae hic fugit odio velit, mollitia consequatur ratione ut amet a
        ullam id recusandae optio expedita! Commodi ex fuga mollitia nulla nisi
        similique molestias quibusdam rerum natus, non, sapiente pariatur.
      </p>
    </div>
    <div class="informacion--simple__group">
      <p class="informacion--simple__group__title">Información veterinario</p>
      <p class="informacion--simple__group__info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nulla
        aliquam aperiam praesentium accusantium? Magnam quia repellendus, porro
        possimus ipsa consequatur expedita incidunt quis veritatis, nobis soluta
        impedit, facere culpa inventore officia qui alias cumque et labore sit.
        Sequi in sapiente eaque asperiores saepe deleniti dolorum incidunt
        placeat, tenetur quas!
      </p>
    </div>
  </div>

  <router-link to="/mascotas" class="cerrar boton">Cerrar</router-link>
</template>

<script>
export default {
  data() {
    return {
      mostrarMas: false,
    }
  },
  methods: {
    mostrar: function() {
      if(this.mostrarMas === true) {
        this.mostrarMas = false;
      } else if(this.mostrarMas === false) {
        this.mostrarMas = true;
      }
    }
  }
}
</script>

<style lang="scss">
.cerrar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  text-decoration: none;
}

.detalles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      &__tipo {
        margin: 0 0 5px 0;
      }

      &__img {
        width: 165px;
      }

      &__nombre {
        margin: 8px 0;
      }

      &__editar {
        margin: 5px 0;
        text-decoration: underline;
        cursor: pointer;
      }

      &--right {
        text-align: right;

        &__title {
          font-weight: 600;
        }
        &__info {
          color: #828282;
          margin-bottom: 20px;
        }
      }
    }
  }

  &__info {
    margin-bottom: 20px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;

    &__left,
    &__right {
      &__title {
        font-weight: 600;
      }
    }

    &__left {
      text-align: left;
    }
    &__right {
      text-align: right;
    }
  }

  &__cumple {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;

    &__title {
      grid-column: 1 / 4;
      font-weight: 600;
      font-size: 22px;
      margin: 10px 0;
    }

    &__group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      &__title {
        text-align: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 600;
      }

      &__text {
        text-align: left;
        width: 100%;
        font-size: 18px;
      }
    }
  }
}

.informacion {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;

  &--boton {
    text-decoration: underline 2px;
    cursor: pointer;
  }

  &__group {
    &__title {
      font-weight: 600;
    }
  }

  &--simple {
      margin: 0 auto;
      width: 90%;
      text-align: left;

    &__group {
      &__title {
        font-weight: 600;
      }

      &__info {
          background-color: #ffffff;
          border: solid 1px #828282;
          border-radius: 25px;
          padding: 20px 10px;
      }
    }
  }
}

@media (min-width: 970px) {
  .detalles {
    width: auto;
  }

  .informacion {
    width: auto;
    grid-template-columns: repeat(4, 1fr);

    &--simple {
      width: 80%;
    }
  }

  .cerrar {
    width: 80%;
  }
}
</style>