<template>
  <h1 class="rCuenta-h1 d-lg-none">Mi Cuenta</h1>
  <h1 class="rCuenta-h1 d-none d-lg-block">
    Bienvenido a la comunidad Perro-Gatuna de
    <span class="azul-fuerte">San José</span> <span class="azul">Mascotas</span>
  </h1>
  <section class="rCuenta contenedor--desktop">
    <!-- Header -->
    <div class="rCuenta__header">
      <img
        class="rCuenta__header__img"
        src="../assets/User.svg"
        alt="Imagen de usuario"
      />
      <div class="rCuenta__header__botones">
        <button class="boton--secondary">Subir foto</button>
        <button class="boton--primary">Guardar</button>
        <button class="boton--cancel">Cancelar</button>
      </div>
      <div class="rCuenta__header__datos">
        <p class="rCuenta__header__datos__nombre">Nombre</p>
        <p class="rCuenta__header__datos__correo">Correo electrónico</p>
      </div>
    </div>
    <!-- Fin Header -->

    <!-- QR -->
    <div class="rCuenta__qr">
      <img class="rCuenta__qr__img" src="../assets/qr.svg" alt="qr" />
      <h3 class="rCuenta__qr__title">Usar puntos</h3>
      <h2 class="rCuenta__qr__puntos azul-fuerte">Tus puntos: 0</h2>
    </div>
    <!-- Fin QR -->

    <!-- Form -->
    <div class="rCuenta__form">
      <div class="rCuenta__form__group">
        <label class="rCuenta__form__group__label" for="">Nombre</label>
        <input class="rCuenta__form__group__input" type="text" />
      </div>
      <div class="rCuenta__form__group">
        <label class="rCuenta__form__group__label" for="">Apellido</label>
        <input class="rCuenta__form__group__input" type="text" />
      </div>
      <div class="rCuenta__form__group">
        <label class="rCuenta__form__group__label" for="genero">Género</label>
        <select class="rCuenta__form__group__input" name="genero" id="genero">
          <option disabled selected value="">Selecciona una opción</option>
          <option value="Hombre">Hombre</option>
          <option value="Mujer">Mujer</option>
          <option value="Otro">Otro</option>
        </select>
      </div>
      <div class="rCuenta__form__group">
        <label class="rCuenta__form__group__label" for="genero"
          >¿Cuándo cumples años?</label
        >
        <p class="rCuenta__form__group__disclaimer">
          Esta información NO se muestra en tu perfil.
        </p>
        <div class="rCuenta__form__group--grid">
          <div class="rCuenta__form__group">
            <label class="rCuenta__form__group__label text-center" for=""
              >Día</label
            >
            <input
              class="rCuenta__form__group__input"
              type="number"
              min="1"
              max="31"
            />
          </div>
          <div class="rCuenta__form__group">
            <label class="rCuenta__form__group__label text-center" for=""
              >Mes</label
            >
            <input
              class="rCuenta__form__group__input"
              type="number"
              min="1"
              max="12"
            />
          </div>
          <div class="rCuenta__form__group">
            <label class="rCuenta__form__group__label text-center" for=""
              >Año</label
            >
            <input
              class="rCuenta__form__group__input"
              type="number"
              min="1930"
              max="2500"
            />
          </div>
        </div>
      </div>
      <div class="rCuenta__form__group">
        <label class="rCuenta__form__group__label" for="">Tu dirección</label>
        <input class="rCuenta__form__group__input" type="text" />
      </div>
      <div class="rCuenta__form__group--grid2">
        <div class="rCuenta__form__group">
          <label class="rCuenta__form__group__label text-center" for=""
            >Código Postal</label
          >
          <input class="rCuenta__form__group__input" type="text" />
        </div>
        <div class="rCuenta__form__group">
          <label class="rCuenta__form__group__label text-center" for=""
            >Colonia</label
          >
          <input class="rCuenta__form__group__input" type="text" />
        </div>
        <div class="rCuenta__form__group">
          <label class="rCuenta__form__group__label text-center" for=""
            >Ciudad</label
          >
          <input class="rCuenta__form__group__input" type="text" />
        </div>
        <div class="rCuenta__form__group">
          <label class="rCuenta__form__group__label text-center" for=""
            >Estado</label
          >
          <input class="rCuenta__form__group__input" type="text" />
        </div>
      </div>
    </div>
    <!-- Final Form -->

    <!-- Mapa -->
    <div class="rCuenta__mapa">
      <img class="rCuenta__mapa__img" src="../assets/mapa.png" alt="" />
    </div>
    <!-- Final mapa -->

    <button class="rCuenta__guardar boton">Guardar</button>
  </section>
</template>

<style lang="scss">
.rCuenta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-h1 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: -30px;
  }
  &__header {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;

    &__img {
      margin: 0 auto;
      width: 150px;
      height: 150px;
    }

    &__datos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      &__nombre {
        margin: 0;
        font-weight: 900;
      }
      &__correo {
        margin: 0;
      }
    }

    &__botones {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  &__qr {
    &__title,
    &__puntos {
      margin: 10px 0;
    }
  }

  &__form {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &__group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      &__label {
        text-align: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 600;
      }

      &__input {
        width: 100%;
        height: 44px;
        font-size: 18px;
        border-radius: 25px;
        border: 1px solid #828282;
        background-color: transparent;
        padding-left: 10px;
      }

      &__disclaimer {
        margin: 0;
        text-align: left;
        font-size: 13px;
      }

      &--grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: center;
      }
      &--grid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
        text-align: center;
      }
    }
  }

  &__mapa {
    &__img {
      width: 100%;
    }
  }

  &__guardar {
    margin: 40px 0 10px 0;
  }
}

@media (min-width: 970px) {
  .rCuenta {
    &-h1 {
      font-size: 32px !important;
      text-align: left;
      margin-left: 50px;
    }

    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 200px;
    row-gap: 30px;

    &__form {
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: flex-start;
      column-gap: 200px;
      row-gap: 10px;

      &__group--grid2 {
        grid-column: 1 / 3;
        justify-content: space-between;
        column-gap: 200px;
      }
    }

    &__mapa {
      grid-column: 1 / 3;

      &__img {
        height: 600px;
        width: 100%;
      }
    }

    &__guardar {
      grid-column: 1 / 3;
      margin: 40px auto 10px auto;
    }
  }
}
</style>