<template>
  <section class="registro contenedor">
    <h1 class="registro__h1">Registrate en <span class="azul-fuerte">San José <span class="azul">Mascotas</span></span></h1>
    <input class="registro__input" placeholder="Nombre completo" type="text" />
    <input
      class="registro__input"
      placeholder="Fecha de nacimiento"
      type="text"
    />
    <input
      class="registro__input"
      placeholder="Correo electrónico"
      type="text"
    />
    <input
      class="registro__input"
      placeholder="Número de contacto"
      type="text"
    />
    <input class="registro__input" placeholder="Contraseña" type="password" />
    <input
      class="registro__input"
      placeholder="Confirmar contraseña"
      type="password"
    />
    <button class="registro__ingresar boton">Ingresar</button>

    <p class="registro__terminos">
      Al registrate o iniciar sesión, acepto los Términos y Condiciones y las
      Politicas de Privacidad, lo cual confirmo que soy mayor de 18 años y
      accedo a recibir notificaciones.
    </p>
  </section>
</template>

<style lang="scss">
.registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &__h1 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
  }

  &__input {
    width: 100%;
    height: 44px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 25px;
    border: 1px solid #828282;
    padding-left: 10px;
  }

  &__terminos {
      font-style: italic;
  }
}
</style>