<template>
  <footer class="footer">
    <div class="footer__column d-none d-lg-flex">
      <p class="footer__contacte azul-claro">Contacte con nosotros</p>
      <router-link class="footer__link" to="/informacion"
        >Información</router-link
      >
      <router-link class="footer__link" to="/mascotas">Mascotas</router-link>
      <a class="footer__link" href="">Tienda</a>
    </div>
    <div class="footer__column">
      <p class="footer__contacte">Contacte con nosotros</p>
      <img
        class="footer__correo icon"
        src="../assets/Correo1.svg"
        alt="icono correo"
      />
      <p class="footer__numero azul-claro">
        atencionalcliente@sanjosemascotas.com
      </p>
      <img
        class="footer__telefono icon"
        src="../assets/Telefono.svg"
        alt="icono telefono"
      />
      <p class="footer__numero azul-claro">33 1841 8884</p>
      <div class="footer__social">
        <img
          class="footer__social__icon icon"
          src="../assets/Facebook.svg"
          alt="Icono Facebook"
        />
        <img
          class="footer__social__icon icon"
          src="../assets/Twitter.svg"
          alt="Icono Facebook"
        />
      </div>
    </div>
    <p class="footer__desarrollado azul-claro">
      Desarrollado por
      <a class="footer__desarrollado--link" href="">pedidosenlinea.mx</a>
    </p>
  </footer>
</template>

<style lang="scss">
.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #012e62;
  font-size: 10px;
  //Border
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__contacte {
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    margin-top: 20px;
  }

  &__link {
    color: #ffffff;
    text-decoration: none;
  }

  &__numero {
    margin: 0;
    font-weight: 400;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }

  &__desarrollado {
    grid-column: 1 / 3;
    font-weight: 400;
    width: 100%;
    background-color: #001a37;
    margin: 0;
    padding: 12px 0;

    //Border
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  &__desarrollado--link {
    text-decoration: none;
    color: #ffffff;
  }
}

@media (min-width: 970px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);

    &__column {
      margin-left: 60px;
      align-items: flex-start;
    }

    &__contacte {
      font-size: 22px;
      text-align: left;
    }

    &__link {
      font-size: 20px;
      text-align: left;
    }

    &__numero {
      font-size: 16px;
      text-align: left;
    }

    &__social {
      justify-content: flex-start;
    }

    &__desarrollado {
      font-size: 18px;
      padding-left: 30px;
      text-align: left;
    }
  }
}
</style>