<template>
  <header class="header" v-show="
        $route.path != '/login' &&
        $route.path != '/registro' &&
        $route.path != '/registro/cuenta'
      ">
    <!-- Logo -->
    <img class="header__logo" src="../assets/logo.svg" alt="Logo" />
    <!-- Fin logo -->

    <!-- Menu desktop -->
    <div class="header__nav d-none d-lg-flex">
      <div class="header__nav--right">
        <router-link class="header__nav__link boton--primary" to="/informacion"
          >Información</router-link
        >
        <router-link class="header__nav__link" to="/mascotas"
          >Mascotas</router-link
        >
        <a class="header__nav__link" href="">Tienda</a>
      </div>
      <div class="header__nav--left">
        <router-link class="header__nav__link boton--cancel" to="/login"
          >Cerrar Sesión</router-link
        >
        <div class="header__nav__imgs">
          <img
            class="header__nav__imgs__img"
            src="../assets/Usuario.svg"
            alt="Mas opciones de navegacion"
          />
          <img
            class="header__nav__imgs__img"
            src="../assets/triangle.svg"
            alt="Mas opciones de navegacion"
          />
        </div>
      </div>
    </div>
    <!-- Fin Menu desktop -->

    <!-- Menu mobile -->
    <img
      class="header__burger d-lg-none"
      src="../assets/menu.svg"
      alt="Menu"
      @click="toggleMenu"
    />
    <!-- Fin menu mobile -->
  </header>
  <div class="menu" v-show="mostrar">
    <img
      class="menu__x"
      src="../assets/x.svg"
      alt="Icono cerrar menu"
      @click="toggleMenu"
    />
    <router-link class="menu__link" to="/informacion" @click="toggleMenu"
      >Información</router-link
    >
    <router-link class="menu__link" to="/mascotas" @click="toggleMenu"
      >Mascotas</router-link
    >
    <a class="menu__link" href="" @click="toggleMenu">Tienda</a>
    <router-link class="menu__link" to="/login" @click="toggleMenu"
      >Cerrar Sesión</router-link
    >
  </div>
</template>

<script>
export default {
  data() {
    return {
      mostrar: false,
    };
  },
  methods: {
    toggleMenu: function () {
      if (this.mostrar === true) {
        this.mostrar = false;
      } else if (this.mostrar === false) {
        this.mostrar = true;
      }
    },
  },
};
</script>

<style lang="scss">
.header {
  background-color: #ffffff;
  padding: 15px 0 10px 0;
  border: 0 0 10px 10px;
  // Shadow
  box-shadow: 0px 0px 5px 2px rgba(107, 173, 222, 0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(107, 173, 222, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(107, 173, 222, 0.75);
  //Border
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 184px;
    margin-left: 10px;
  }

  &__burger {
    margin-right: 10px;
    cursor: pointer;
  }

  &__nav {
    width: calc(100% - 250px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--right,
    &--left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    &__link {
      text-decoration: none;
      text-align: center;
      color: #000000;
    }

    &__imgs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      &:last-child {
        margin-right: 20px;
      }

      &__img {
        width: 13px;
      }
    }
  }
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 80vw;
  height: 100vh;
  background-color: #ffffff;
  //Border
  -webkit-border-top-left-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  // Shadow
  box-shadow: 0px 0px 5px 2px #828282;
  -webkit-box-shadow: 0px 0px 5px 2px #828282;
  -moz-box-shadow: 0px 0px 5px 2px #828282;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__x {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 15px;
  }

  &__link {
    width: calc(100% - 25px);
    text-decoration: none;
    text-align: left;
    margin-left: 25px;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #828282;
    color: #828282;

    &:first-of-type {
      margin-top: 30px;
    }

    &:last-of-type {
      border-bottom: solid 1px #ffffff;
    }
  }
}
</style>