<template>
    <div class="mascota">
        <p class="mascota__tipo" v-text="tipo"></p>
        <img class="mascota__img" src="../assets/cash.png" alt="Imagen">
        <h3 class="mascota__nombre" v-text="nombre"></h3>
        <div class="mascota__opciones">
            <router-link to="/mascotas/detalles" class="mascota__opciones__opcion">Ver</router-link>
            <router-link to="/mascotas/agregar" class="mascota__opciones__opcion">Editar</router-link>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        nombre: String,
        tipo: String
    }
}
</script>

<style lang="scss">
.mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__tipo {
        margin: 0;
        margin-bottom: 10px;
    }

    &__img {
        width: 160px;
    }

    &__nombre {
        margin: 0;
        margin-top: 5px;
    }

    &__opciones {
        width: 115px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;

        &__opcion {
            cursor: pointer;
            margin: 10px 0;
            text-decoration: none;
            color: #000;
        }
    }
}
</style>