<template>
  <Header v-show="$route.path != '/'" />
  <router-view />
  <Footer v-show="$route.path != '/'" />
</template>

<script>
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";

export default {
  components: {
    Header,
    Footer,
  },
};
</script>

<style lang="scss">
#app {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #333333;
}

h1 {
  font-size: 24px;
}

body {
  margin: 0;
  background: url("./assets/BackgroundMovil.svg");
  background-repeat: repeat;
  background-size: auto;
}

.contenedor,
.contenedor--desktop {
  margin: 50px 12px 100px 12px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 30px;
  // Shadow
  box-shadow: 0px 0px 5px 2px rgba(158, 158, 158, 0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(158, 158, 158, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(158, 158, 158, 0.75);
}

.contenedor {
  max-width: 470px;
}

@media (min-width: 970px) {
  body {
    background: url("./assets/BackgroundLine.svg");
    background-repeat: no-repeat;
  }

  .contenedor--desktop {
    width: 100vw;
    border-radius: 0;
    margin: 50px auto 100px auto;
    padding: 100px 150px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-color: #ffffff;
  }
}

.boton {
  width: 330px;
  height: 44px;
  font-size: 18px;
  font-weight: 600;
  background-color: #012e62;
  color: #ffffff;
  box-shadow: 4px 4px 8px #000000, inset 2.4px 2.8px 2.8px #5b90f9;
  border-radius: 25px;
  border: none;
  cursor: pointer;

  &:active {
    transform: scale(0.9);
  }
}

@media (min-width: 600px) {
  .contenedor {
    margin-left: auto;
    margin-right: auto;
  }

  .boton {
    width: 100%;
  }
}

.azul {
  color: #0071be;
  font-weight: 600;
}
.azul-claro {
  color: #6badde;
}
.azul-fuerte {
  color: #012e62;
  font-weight: 600;
}

.icon {
  width: 22px;
}

.boton--sm,
.boton--primary,
.boton--secondary,
.boton--cancel {
  width: 115px;
  height: 29;
  cursor: pointer;
  border-radius: 25px;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;

  &:active {
    transform: scale(0.9);
  }
}

.boton--primary {
  background-color: #0071be;
  border: solid 2px #0071be;
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }
}
.boton--secondary {
  border: solid 2px #0071be;
  color: #0071be;
}
.boton--cancel {
  border: solid 2px #ff5959;
  color: #ff5959;

  &:hover {
    color: #ff5959;
  }
}
.boton--cancel-solid {
  width: 150px;
  height: 40px;
  background-color: #ff5959;
  border: solid 2px #ff5959;
  color: #ffffff;
  // Shadow
  box-shadow: 0px 0px 5px 2px rgba(31, 31, 31, 0.75);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(31, 31, 31, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(31, 31, 31, 0.75);
}
.boton--negro {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
  cursor: pointer;
  text-decoration: underline #000000;
  text-decoration-thickness: 2px;
}
.boton--negro--sm {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
  cursor: pointer;
  text-decoration: underline #000000;
  text-decoration-thickness: 2px;
}

.text-center {
  text-align: center !important;
}
</style>
